
@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<ul id="productList"></ul>

@section scripts {
    <script>
        $.getJSON("/products/getProducts").done(function (data) {
            data.forEach(function (product) {
                var productList = document.getElementById('productList');
                productList.innerHTML += '<li>' + product.Name + '</li>';
            });
        });
    </script>
}