@{
    ViewBag.Title = "Grocery Store";
}
<h2>@ViewBag.Title</h2>

<div ng-controller="FoodController as vm">
    <ul>
        <li ng-repeat="item in vm.food|startsWith: 'm'">{{item}}</li>
    </ul>
</div>