@using ShoppingList.Models
@model IndexViewModel

<form class="form-horizontal">
    <fieldset>
        <legend>Shopping Cart</legend>
        <span class="help-block">Choose your shopping cart below.</span>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Carts</label>
            <div class="col-lg-10">
                @Html.DropDownListFor(m => m.SelectedId, new SelectList(Model.Customers, "Id", "Value", Model.SelectedId), new {@class="form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>