
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

<form id="frm">
    <input id="messageInput" autocomplete="off"/>
    <input type="submit" value="Add" />
</form>

<ul id="messageList"></ul>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalR/hubs"></script>

<script>
    // reference DOM elements
    var frm = document.getElementById('frm');
    var messageInput = document.getElementById('messageInput');
    var messageList = document.getElementById('messageList');

    // reference chat hub
    var chat = $.connection.chatHub;

    // when server calls us, show message from other users
    chat.client.sendMessage = function (message) {
        messageList.innerHTML += '<li>' + message + '</li>';
    }

    // start the WebSocket connection
    $.connection.hub.start().done(function (e) {
        // add listener for message from submit
        frm.addEventListener('submit', function (e) {
            e.preventDefault(); // prevent form from submitting
            chat.server.sendMessage(messageInput.value); // send message to server
            messageInput.value = ''; // clear value
        });
    });
</script>